<div *ngIf="car" class="col-sm-6">
  <button type="button" (click)="onClose()" class="btn btn-primary col-xs-2 col-xs-offset-10">Close</button>
  <form class="row car-details">
    <label class="car-detail">Name:
      <input (keyup)="onKey($event)" value="{{car.name}}" placeholder="Car name" required/>
    </label>
    <label class="car-detail">Model:
      <input (keyup)="onKey($event)" value="{{car.model}}" placeholder="Car model" required/>
    </label>
    <label class="car-detail">Year:
      <input (keyup)="onKey($event)" value="{{car.year}}" placeholder="Car year" required/>
    </label>
    <label class="car-detail">Type:
      <select (click)="onChange($event)" id="type" required>
        <!-- <option *ngFor="let carType of carTypes" [value]="carType">{{carType}}</option> -->
        <option value="{{ carTypes.M }}">Minivan</option>
        <option value="{{ carTypes.S }}">Sedan</option>
        <option value="{{ carTypes.B }}">Bus</option>
      </select>
    </label>
  </form>
  <button type="button" (click)="onSave()" class="row btn col-xs-4 col-xs-offset-4 btn-success">Save</button>
</div>
