<div class="col-sm-6">
  <button type="button" (click)="addCar()" class="btn btn-primary">Add</button>
  <div *ngIf="cars.length; else elseBlock" class="row">
    <div *ngFor="let car of cars" class="col-xs-4 vcenter" (click)="onSelect(car)">
      <div class="car-card">
        <h4>{{car.name}}</h4>
      </div>
    </div>
  </div>
  <ng-template #elseBlock class="row">
    <h3>The list is empty. Please add new car...</h3>
  </ng-template>
</div>
<app-car-detail [car]="selectedCar"></app-car-detail>