.btn {
  margin-bottom: 10px;
}

.car-card {
  border: 1px solid #8080806b;
  border-radius: 4px;
  background: #fff;
  margin-bottom: 10px;
  text-align: center;
  cursor: pointer;
}

.car-card:hover {
  background: #f5f5f5;
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}